@use './mixins.scss' as *;
@use './main/me.scss';
@use './main/exp.scss';
@use './sidebar/edu.scss';
@use './sidebar/skills.scss';
@use './sidebar/hobbies.scss';
@use './sidebar/lang.scss';

$primary: #333333;

.container-xl {
  padding: 0px;
  margin: 0px;

  background-color: #FFFFFF;
}

body {
  font-family: Montserrat, sans-serif;
  color: $primary;
  background-color: #DEDEDE;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  text-align: justify;
}

ul {
  list-style: none;
}

a {
  @include a-style;
}

.main {
//  padding: 40px 0 40px 40px;
}

.sidebar {
  background-color: #f0f0f0;
  padding: 40px;
}

.title {
  margin-top: 40px;
}

.underline {
  width: 100%;
  height: 1.5px;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 40px;
}

.acardeon {
  display: flex;


}

.arrow {
  height: 40px;

  font-size: 30px;
  font-weight: 300;

  margin-bottom: 10px;

  transition: transform 0.3s ease;
  cursor: pointer;

    &.active {
      transform: rotate(90deg);
    }
}

.contents {
  visibility: visible;
}