@use './main/me.scss';
@use './sidebar/skills.scss';

$primary: #333333;

.container-xl {
  padding: 0px;
  margin: 0px;

  background-color: #FFFFFF;
}

body {
  font-family: Montserrat, sans-serif;
  color: $primary;
  background-color: #DEDEDE;
  display: flex;
  justify-content: center;
  padding: 100px 0;

}

ul {
  list-style: none;
}

.sidebar {
  background-color: #f0f0f0;
}
