@use './main/me.scss';
@use './main/exp.scss';
@use './sidebar/edu.scss';
@use './sidebar/skills.scss';
@use './sidebar/hobbies.scss';
@use './sidebar/lang.scss';

$primary: #333333;

.container-xl {
  padding: 0px;
  margin: 0px;

  background-color: #FFFFFF;
}

body {
  font-family: Montserrat, sans-serif;
  color: $primary;
  background-color: #DEDEDE;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  text-align: justify;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
//  padding: 40px 0 40px 40px;
}

.sidebar {
  background-color: #f0f0f0;
  padding: 40px;
}
