<div>
  <h2><b>EDUCATION</b></h2>
  <div class="underline"></div>
  <ul class="education-list">
    <li class="education-item">
      <span class="decorator"></span>
      <div>
        <p class="university">Stanford University</p>
        <h3 class="degree"><b>Master Degree</b></h3>
        <span class="date">2011 - 2013</span>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et explicabo illo officiis ratione suscipit. Eius eveniet fugiat magnam maxime necessitatibus odit quidem sit velit veniam.</p>
      </div>
    </li>
    <li class="education-item">
      <span class="decorator"></span>
      <div>
        <p class="university">Chicago University</p>
        <h3 class="degree"><b>Bachelor Degree </b></h3>
        <span class="date">2007 - 2010</span>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta eligendi esse laboriosam neque tempore, temporibus. Cupiditate eius incidunt ipsum minus sapiente sequi velit voluptate?</p>
      </div>
    </li>
  </ul>
</div>