<div>
  <h2><b>EDUCATION</b></h2>
  <ul>
    <li>
      <p>Stanford University</p>
      <h3><b>Master Degree</b></h3>
      <p>2011- 2013</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et explicabo illo officiis ratione suscipit. Eius eveniet fugiat magnam maxime necessitatibus odit quidem sit velit veniam.</p>
    </li>
    <li>
      <p>Chicago University</p>
      <h3><b>Bachelor Degree </b></h3>
      <p>2007 - 2010</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta eligendi esse laboriosam neque tempore, temporibus. Cupiditate eius incidunt ipsum minus sapiente sequi velit voluptate?</p>
    </li>
  </ul>
</div>