<div>
  <div class="mb-sm-4">
    <label class="form-label">Adobe Photoshop</label>
    <div class="progress" style="height: 15px;">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 90%; background-color: #e63946;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="mb-sm-4">
    <label class="form-label">Adobe Illustrator</label>
    <div class="progress" style="height: 15px;">
      <div class="progress-bar bg-danger"></div>
    </div>
  </div>
</div>