<div class="exp">
  <div class="acardeon justify-content-between">
    <h2><b>JOB EXPERIENCE</b></h2>
    <span class="arrow active"> > </span>
  </div>
  <div class="underline"></div>
  <div class="contents">
    <ul class="experience-list">

      <li class="experience-item">
        <span class="decorator"></span>
        <div class="content">
          <div class="header-line">
            <div class="title-location fst-italic">
              <h3 class="company">Creative Agency</h3>
              <p class="location">Chicago</p>
            </div>
            <span class="date">2021 - Present</span>
          </div>
          <h4 class="position">SENIOR WEB DESIGNER</h4>
          <p class="description">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </li>

      <li class="experience-item">
        <span class="decorator"></span>
        <div class="content">
          <div class="header-line">
            <div class="title-location fst-italic">
              <h3 class="company">Creative Market</h3>
              <p class="location">United Kingdom</p>
            </div>
            <span class="date">2018 - 2021</span>
          </div>
          <h4 class="position">GRAPHIC DESIGNER</h4>
          <p class="description">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </li>

      <li class="experience-item">
        <span class="decorator"></span>
        <div class="content">
          <div class="header-line">
            <div class="title-location fst-italic">
              <h3 class="company">Marketing Agency</h3>
              <p class="location">United Kingdom</p>
            </div>
            <span class="date">2015 - 2018</span>
          </div>
          <h4 class="position">MARKETING MANAGER</h4>
          <p class="description">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </li>

      <li class="experience-item">
        <span class="decorator"></span>
        <div class="content">
          <div class="header-line">
            <div class="title-location fst-italic">
              <h3 class="company">Creative Market</h3>
              <p class="location">Chicago</p>
            </div>
            <span class="date">2013 - 2015</span>
          </div>
          <h4 class="position">JUNIOR WEB DESIGNER</h4>
          <p class="description">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
      </li>

    </ul>
  </div>
</div>