<div class="name">
  <h1> <b>GARY T.</b>
    <br>WALTON</h1>
  <p>GRAPHIC & WEB DESIGNER</p>
  <img
    src="../../imgs/photo.jpg"
    alt="photo"
  >
</div>
<div>
  <div class="aboutMe">
    <h2>ABOUT ME</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium aliquam aliquid atque debitis dolorem esse eveniet
      fugit itaque maxime nihil, odit provident
      quidem quisquam quod rem sed suscipit tempora vel! Illo.</p>

    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dignissimos tempora!"</p>

    <ul>
      <li>+1-718-310-5588</li>
      <li><a href="">www.yourwebsite.com</a> </li>
      <li>769 Prudence Street Lincoln Park, Ml 48146</li>
    </ul>
  </div>
  <div class="refer">

  </div>
</div>
